


*{
    margin: 0;
    padding: 0;
    }
    
    body{
        font-family: 'Times New Roman', Times, serif;
        width:100%;
    }
    
    
    .card{
        border: 75px, whitesmoke;
        border-radius: 75px;
        padding-top: 75px;
        padding-right: 75px;
        padding-bottom: 75px;
        padding-left: 80px;
        background-image: linear-gradient(purple, gold, rgb(154, 149, 213) );
        width: 300px;
        margin: auto;
    }
    
    .card-inner{
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
    }
    
    .card-inner.is-flipped{
        transform: rotateY(180deg);
    
    }

        
    .card-face-front{
        background-image: linear-gradient(purple, gold, rgb(154, 149, 213) );
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0x 3px 18px 3px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .card__face--front h2 {
        color: rgb(154, 149, 213);
        font-size: 32px;
      }
      
      .card__face--back {
        background-color:  rgb(128,0,128);
        transform: rotateY(180deg);
      }
      
    .card-face-back{
        background-color: rgb(154, 149, 213);
        transform: rotateY(180deg);

    }
    .card-content{
        width: 100%;
        height: 100%;
    }
    
    .card__header {
        position: relative;
        padding: 30px 30px 40px;
      }
      
    .card__header:after {

        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(purple, gold, rgb(154, 149, 213) );
        z-index: -1;
        border-radius: 0px 0px 50% 0px;
        
    }
        
    .pp {
        display: block;
        width: 128px;
        height: 128px;
        margin: 0 auto 30px;
        border-radius: 50%;
        background-color: #FFF;
        border: 5px solid #FFF;
        object-fit: cover;
      }

.card-body {
    padding: 30px;
    }
      
.card-body h3 {
    color: rgb(128,0,128);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    }
      
.card-body p{
    color:  rgb(128,0,128);
    padding: 30px;

}


